# Created by https://www.gitignore.io

# Django identity_service gitignore content
staticfiles/*
**/migrations/0*.py
**/__pycache__
venv
**/local_settings.py
media/*
!rs_backend/identity_service
mariadb
docker_files/
### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.idea/*
# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
migrations/*
anquira_v2/local_settings.py

static/node_modules/
static/package-lock.json
static/package.json

static/v4_home_static/node_modules/
static/v4_home_static/package-lock.json
static/v4_home_static/package.json

*.DS_Store
static/.DS_Store
